<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/register_css.css">
    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>

<body style="align-items: center;">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet'
        type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    <div class="testbox">
        <h1>Registration</h1>
        <h3 id="result">...</h3>
        <label id="icon" for="name"><i class="icon-envelope "></i></label>
        <input type="text" name="name" id="id" placeholder="ID" required />
        <br>
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input type="password" name="name" id="pw" placeholder="Password" required />
        <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
        <button style="margin-left: 20px; float: left; background-color: aqua; border-radius: 5px; width: 100px; height: 30px; cursor: pointer;" id="register_btn">Register</button>
    </div>
</body>

</html>

<!--Copyright (c) 2024 by afirulaf (https://codepen.io/afirulaf/pen/ExgKpJ)-->